{% extends 'base.html' %}
{% load static %}

{% block metadescription %}
    {{product.description | truncatewords:150}}
{% endblock %}

{% block title %}
    {% if product %}
        {{product.name}}-Cartopia
    {% endif %}
{% endblock %}

{% block content %}

    <div>
        <div>
            <p><a href="{% url 'ecommerceapp:AllCategories' %}">HOME</a> | <a href="{{product.category.get_url}}">{{product.category}}</a> | {{product.name}} </p>
        </div>
    </div>
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6"><br>
            <img src="{{product.image.url}}" alt="{{product.name}}" height="350px" width="500px">
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6">
            <div>
                <h2 class="product-name">{{product.name}}</h2>
                <p class="product-price">₹{{product.price}}</p>
                <p class="product-description">{{product.description}}</p>
                <div style="position: absolute;">
                    {% if product.stock <= 0 %}
                        <p><b>Out Of Stock</b></p>
                    {% else %}
                        <div>
                            <a class="btn btn-success" href="{% url 'cartapp:add_cart' product.id %}">Add to <i class="fa-solid fa-cart-shopping"></i></a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<br><br><br><br><br>


{% endblock %}